@font-face {
  font-family: nevduplen;
  src: url(src/nevd.otf);
}

* {
  font-family: nevduplen;
  font-size: 1.5vw;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

form {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.submit {
  display: flex;
  height: 2rem;

  font-size: 1.5rem;
  margin-bottom: 0.5rem;

  background-color: #212121;
  color: white;

  align-items: center;

  background-color: #212121;

  transition: 0.5s;
}

.submit:hover {
  background-color: white;
  color: #bf2525;

  transition: 0.5s;
}


@media (max-width: 1440px) {
  * {
    font-size: 24px;
  }
}

@media (max-width: 1000px) {
  * {
    font-size: 20px;
  }
}

@media (max-width: 800px) {
  * {
    font-size: 18px;
  }
}
